[submodule "themes/hugo-theme-techdoc"]
	path = themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
