
<style>
body {
	background-color: #333333;
	color: white;
}

pre {
	border: 2px solid #555555;
	padding: 1rem;
	box-sizing: border-box;
	border-radius: 0.4em;
	background-color: #444444;
}

h1, h2, h3, h4, a {
	color: darkorange;
}

h2 {
	font-size: 160%;
}

h3 {
	font-size: 110%;
	font-weight: bold;
}

p {
	line-height: 1.2em;
}

.global-menu {
 	padding-left: 1rem;
}

header {
	padding-left: 1rem;
}

main {
	padding: 1rem;
	padding-left: 1.6rem;
}

.sidebar {
	background-color: #444444;
	color: white;
	overflow-y: auto;
	overflow-x: auto;
	border-right: 1px solid #555555; 	
}

.sidebar a {
	background-color: #444444;
	border: none;
	color: darkorange;
	font-size: 120%;
}

.sidebar .active>a {
	background-color: #444444;
	border-left: none;
	font-weight: bold;
	color: darkorange;
}

.sidebar a:hover {	
	border-left: none;	
}

li.has-sub-menu a {
	background-color: #444444;
}

.sidebar .slide-menu .has-sub-menu>a span.mark {
	background-color: transparent;
	color: darkorange;
	border-left: none;
}
</style>
